.card_container {
  max-width: 48rem;
  padding-top: 3rem;
  margin-left: 8rem;
}

.card_title {
  text-align: left;
  margin-top: 1.75rem;
  margin-left: 1.5rem;
  font-size: 2rem;
  color: #795548;
  font-weight: 300;
}

.title_border {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-collapse: collapse;
  border-bottom: 1px solid #dddddd;
}

.card_subtitle {
  text-align: left;
  font-size: 1.25rem;
  font-weight: 500;
}

.card_description {
  margin-top: 0.5rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 1rem;
}

@media only screen and (max-width: 900px) {
  .card_container {
    margin: auto;
    max-width: 90%;
  }
}

@media only screen and (min-width: 901px) {
  .card_container {
    margin-left: 9rem;
  }
}

@media only screen and (min-width: 1000px) {
  .card_container {
    margin-left: 10rem;
  }
}
