.nav_bar {
  position: fixed;
  width: 12rem;
  height: 100%;
  border-collapse: collapse;
  border-right: 1px solid #dddddd;
}

.image_bg {
  background-image: url("../pictures/my_image2.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.quote_container {
  position: absolute;
  padding-left: 3rem;
  padding-top: 1rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  cursor: default;
}
.quote_container .text {
  text-align: left;
  font-weight: 500;
  font-size: 2.75rem;
  padding-top: 1rem;
  color: white;
}

.quote_mark {
  background-color: #008073;
  padding: 0rem 1rem;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2) !important;
}

.quote_underline {
  border-bottom: 0.4rem solid #009688;
}

.section_display {
  height: 6rem;
  background-color: #008073;
  display: flex;
  align-items: center;
}

.section_display_text {
  margin-left: 2.5rem;
  font-size: 2.5rem;
  color: white;
  cursor: default;
}

/* .active {
  background-color: #fafafa;
  padding-left: 2rem;
  opacity: 1;
  border-left: 3px solid black;
  font-weight: 500;
  cursor: pointer;
} */

.container {
  position: absolute;
  height: 100%;
  /* transition: left 2s ease-in, width 2s ease-in; */
}

.container_with_nav {
  /* left: 12rem; */
  transform: translateX(12rem);
  width: calc(100% - 12rem);
  transition: left 2s ease-in, width 2s ease-in;
}

.bg {
  background-image: url("../pictures/bg.png");
  background-repeat: repeat;
}

.about_text_container {
  max-width: 70%;
  padding: 4rem 0rem;
  text-align: left;
}

.flow_text {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.75;
}

@media only screen and (min-width: 500px) {
  .about_text_container {
    margin-left: 4rem;
  }
  .flow_text {
    font-size: 1.34rem;
  }
}

@media only screen and (min-width: 550px) {
  .about_text_container {
    margin-left: 4.6rem;
  }
  .flow_text {
    font-size: 1.381rem;
  }
}

@media only screen and (min-width: 600px) {
  .about_text_container {
    margin-left: 5.2rem;
  }
  .flow_text {
    font-size: 1.422rem;
  }
}

@media only screen and (min-width: 650px) {
  .about_text_container {
    margin-left: 5.8rem;
  }
  .flow_text {
    font-size: 1.463rem;
  }
}
@media only screen and (min-width: 700px) {
  .about_text_container {
    margin-left: 6.4rem;
  }
  .flow_text {
    font-size: 1.504rem;
  }
}
@media only screen and (min-width: 750px) {
  .about_text_container {
    margin-left: 7rem;
  }
  .flow_text {
    font-size: 1.545rem;
  }
}

@media only screen and (min-width: 800px) {
  .about_text_container {
    margin-left: 7.5rem;
  }
  .flow_text {
    font-size: 1.586rem;
  }
}

@media only screen and (min-width: 850px) {
  .about_text_container {
    margin-left: 8rem;
  }
  .flow_text {
    font-size: 1.627rem;
  }
}

@media only screen and (min-width: 900px) {
  .about_text_container {
    margin-left: 8.5rem;
  }
  .flow_text {
    font-size: 1.668rem;
  }
}

@media only screen and (min-width: 950px) {
  .about_text_container {
    margin-left: 9rem;
  }
  .flow_text {
    font-size: 1.709rem;
  }
}

@media only screen and (min-width: 1000px) {
  .about_text_container {
    margin-left: 10rem;
  }
  .flow_text {
    font-size: 1.75rem;
  }
}
