.container {
  display: flex;
  align-items: center;
  text-align: left;
  padding: 0.5rem 1.5rem;
  transition: background-color 1s, padding-left 1s, border-left 0.2s;
  opacity: 0.8;
}

.container:hover {
  background-color: #fafafa;
  padding-left: 2rem;
  opacity: 1;
  border-left: 3px solid black;
  font-weight: 500;
  cursor: pointer;
}