.name_container {
  background-color: #fafafa;
  text-align: left;
  padding: 2rem;
  border-bottom: 1px solid #ddd;
  opacity: 0.9;
  transition: background-color 1s;
}

.name_container:hover {
  background-color: #f8f6f6;
  cursor: pointer;
  font-weight: 400;
  opacity: 1;
}

.name_text {
  color: #008073;
  font-size: 2rem;
  line-height: 1;
}

.fs_text {
  color: #795548;
  font-size: 0.8rem;
  margin-left: 3px;
  margin-top: 2px;
}
