.card_container {
  max-width: 48rem;
  padding-top: 3rem;
  margin-left: 8rem;
}

.card_title {
  text-align: left;
  margin-top: 1.75rem;
  margin-left: 1.5rem;
  font-size: 2rem;
  color: #795548;
  font-weight: 300;
}

.title_border {
  margin-top: 1rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-collapse: collapse;
  border-bottom: 1px solid #dddddd;
}

.td_skill {
  width: 33%;
  padding: 0.1rem;
  text-align: center;
}

.img_skill {
  max-width: 15rem;
  max-height: 5rem;
}

@media only screen and (max-width: 900px) {
  .card_container {
    margin: auto;
    max-width: 90%;
  }
}

@media only screen and (min-width: 950px) {
  .card_container {
    margin-left: 9rem;
  }
}

@media only screen and (min-width: 1000px) {
  .card_container {
    margin-left: 10rem;
  }
}
