* {
    /* font-family: "Roboto", sans-serif; */
}

.name_container {
  background-color: #fafafa;
  text-align: left;
  padding: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.name_container:hover {
  background-color: #f8f6f6;
  cursor: pointer;
}

.name_text {
  color: #008073;
  font-size: 2rem;
  line-height: 1;
}

.fs_text {
  color: #795548;
  font-size: 0.8rem;
  margin-left: 3px;
  margin-top: 2px;
}
