.card_container {
  margin: auto;
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.33);
}

.card_title_front {
  text-align: left;
  margin-top: 1.5rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: #008073;
  font-weight: 400;
}

.card_title_back {
  margin-top: 1rem;
  font-size: 2rem;
  color: #795548;
  font-weight: 400;
}

.card_launch {
  position: absolute;
  right: 1rem;
  top: 0;
  color: #008073;
  font-size: 1.75rem;
  user-select: none;
}

.card_description {
  padding: 1rem 1rem 2rem 1rem;
  text-align: left;
  font-size: 1.25rem;
}

.links_container {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1.5rem 2rem;
  text-align: left;
  border-collapse: collapse;
  border-top: 1px solid #dddddd;
  cursor: default;
}